.about {
  background-color: #0a0a0a;
  color: gainsboro;
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
  font-size: 14px;
  width: 100%;
  max-width: 650px;
  border: 1px solid #222222;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
.aboutLight {
  background-color: white;
  color: #191919;
  border: 1px solid silver;
  border-top: none;
}
