.centering {
  display: flex;
  justify-content: center;
}

.content {
  flex: 0 1 900px;
  background-color: inherit;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.menuButton {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
  color: gray;
}
.footerLight {
  color: #191919;
}

.themeButton {
  border: none;
  background: gainsboro;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 12px;
  color: #191919;
  border-radius: 10px;
  border: 1px solid silver;
  width: 100%;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.themeButtonLight {
  background: none;
}
.themeButton:hover {
  background: white;
}
.themeButtonLight:hover {
  background: whitesmoke;
}

.backToTopButton {
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 30px;
  display: none;
  z-index: 9999;
}

.searchLink:link,
.searchLink:visited {
  text-decoration: none;
  color: gray;
}
.searchLinkLight:link,
.searchLinkLight:visited {
  color: #191919;
}

.searchLink:hover {
  text-decoration: underline;
}

.searchLink2:link,
.searchLink2:visited {
  text-decoration: none;
  color: silver;
}
.searchLink2Light:link,
.searchLink2Light:visited {
  text-decoration: none;
  color: #191919;
}

.searchLink2:hover {
  text-decoration: underline;
}

.loading {
  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.3) 50%,
      #0000 66%
    )
    transparent;
  background-size: 300% 100%;
  animation: shine 1s infinite;
  border-radius: 20px;
}
.loadingLight {
  background: linear-gradient(
      90deg,
      whitesmoke 33%,
      rgba(255, 255, 255, 0.3) 50%,
      whitesmoke 66%
    )
    transparent;
  background-size: 300% 100%;
  animation: shine 1s infinite;
  border-radius: 20px;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

video {
  width: 100%;
  max-height: 50vh;
  border-radius: 10px;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:active {
  background: none;
}
