.centering {
  display: flex;
  justify-content: center;
}

.content {
  flex: 0 1 900px;
  background-color: #161616;
  padding-top: 10px;
  border-radius: 10px;
  margin: 10px;
}

.menuButton {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
}

.backToTopButton {
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 30px;
  display: none;
  z-index: 9999;
}

.searchLink:link,
.searchLink:visited {
  text-decoration: none;
  color: gray;
}

.searchLink:hover,
.searchLink:active {
  color: goldenrod;
}
