.centering {
  display: flex;
  justify-content: center;
}

.content {
  flex: 0 1 900px;
  background-color: inherit;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}

.menuButton {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 12px;
  word-wrap: break-word;
  text-align: center;
}

.backToTopButton {
  right: 0;
  position: fixed;
  bottom: 0;
  padding: 30px;
  display: none;
  z-index: 9999;
}

.searchLink:link,
.searchLink:visited {
  text-decoration: none;
  color: gray;
}

.searchLink:hover,
.searchLink:active {
  color: goldenrod;
}

.loading {
  background: linear-gradient(
      90deg,
      #0000 33%,
      rgba(255, 255, 255, 0.3) 50%,
      #0000 66%
    )
    transparent;
  background-size: 300% 100%;
  animation: shine 1s infinite;
  border-radius: 20px;
}

@keyframes shine {
  0% {
    background-position: right;
  }
}

video {
  width: 100%;
  max-height: 60vh;
  border-radius: 10px;
}
