.homeCards {
  width: 100%;
  height: 70px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: center;
  background: #0a0a0a;
  border-radius: 10px;
  font-weight: bold;
  color: orangered;
  font-size: 20px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  border: 1px solid #222222;
}
.homeCards:hover {
  background: rgb(30, 30, 30);
}
.homeCardsLight {
  background: white;
  border: 1px solid rgb(0, 0, 0, 0.1);
}
.homeCardsLight:hover {
  background: whitesmoke;
}

.cardsLoc {
  width: 100%;
  max-width: 500px;
  margin-top: -75px;
}
