@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .header {
    font-size: 20px;
  }
  .upsHeader {
    font-size: 30px;
  }
  .downsHeader {
    font-size: 30px;
  }
  .coinsHeader {
    font-size: 30px;
  }
  .awardsHeader {
    font-size: 30px;
  }
  .profitHeader {
    font-size: 30px;
  }
  .size30 {
    font-size: 20px;
  }
  .timeButton {
    font-size: 14px;
  }
  .today {
    padding: 20px 0px 20px 0px;
  }
  .statsInfo {
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    width: 50%;
    align-items: center;
  }
  .postImgStandard {
    width: 70px;
    height: 70px;
  }
  .blurOuter {
    width: 70px;
  }
  .iconImg {
    margin-top: 1.5px;
    width: 25px;
    height: 25px;
  }
  .postDate {
    width: calc(100% - 90px);
  }
  .limitText3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 420px) {
  .trendHeader {
    font-size: 19px;
  }
}

@media screen and (max-width: 380px) {
  .trendHeader {
    font-size: 18px;
  }
}

@media screen and (max-width: 350px) {
  .trendHeader {
    font-size: 17px;
  }
}
