.h0 {
  font-size: 80px;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 10px;
  color: white;
}
.h0Light {
  color: #191919;
}

.h1 {
  font-size: 50px;
  font-weight: 500;
  margin-top: 5vh;
  margin-bottom: 10px;
  color: white;
}
.h1Light {
  color: #191919;
}

.h3 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}
.h3Light {
  color: #191919;
}

.moreButton {
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}
.moreButton:hover {
  color: gainsboro;
}
.moreButtonLight:hover {
  color: darkgray;
}

.resourceButton {
  background-color: transparent;
  color: rgb(6, 115, 204);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin: 0px 0px 20px 0px;
}
.resourceButton:hover {
  color: rgb(12, 133, 233);
}

.searchLoading {
  font-weight: 500;
}

.searchLoadingLight {
  color: #191919;
}
