h1 {
  font-size: 80px;
  margin-bottom: 0px;
  color: white;
}
h3 {
  color: white;
}

.moreButton {
  background-color: transparent;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}
.moreButton:hover {
  color: gainsboro;
}

.resourceButton {
  background-color: transparent;
  color: rgb(6, 115, 204);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  margin: 0px 0px 0px 0px;
}
.resourceButton:hover {
  color: rgb(12, 133, 233);
}
