.searchCards {
  width: 100%;
  padding: 10px 5px 10px 5px;
  margin-bottom: 10px;
  background: transparent;
  color: white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  border-bottom: 1px solid #222222;
  text-decoration: none;
}
.searchCards:hover {
  background: rgb(30, 30, 30);
  border-radius: 5px;
}
.searchCardsLight {
  color: #191919;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.searchCardsLight:hover {
  background: whitesmoke;
}

.searchCardLink {
  padding: 10px 0px 10px 0px;
  background: transparent;
  color: white;
  transition: background-color 0.3s ease;
  overflow: hidden;
  border: none;
  text-decoration: none;
  font-size: 13px;
}
.searchCardLink:hover {
  text-decoration: underline;
}
.searchCardLinkLight {
  color: #191919;
}

.cardsLoc {
  width: 100%;
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
