.trends {
  background-color: #0a0a0a;
  color: gainsboro;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  max-width: 650px;
  border: 1px solid #222222;
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
}
.trendsLight {
  background-color: white;
  color: #191919;
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-top: none;
}

#trendLoc {
  top: -100px;
  transition: top 0.2s ease;
  z-index: 99999;
  backdrop-filter: blur(12px);
  backface-visibility: hidden;
}

.trendMenu {
  width: 100%;
  max-width: 650px;
  background: rgb(10, 10, 10);
}
.trendMenuLight {
  background: rgb(255, 255, 255);
}

@supports (backdrop-filter: blur(12px)) {
  .trendMenu {
    background: rgb(10, 10, 10, 0.65);
  }
  .trendMenuLight {
    background: rgb(255, 255, 255, 0.65);
  }
}

.trendSortMenu {
  font-size: 13px;
  color: gray;
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  display: none;
}

.iconImg {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.statsInfo {
  float: left;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
}

.postLink {
  width: 100%;
  border: none;
  padding: 12px 5% 12px 5%;
  margin-bottom: 0px;
  text-decoration: none;
  color: gainsboro;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: opacity 0.2s, background-color 0.2s ease;
  opacity: 1;
}
.postLinkLight {
  color: #191919;
}
.postLink:hover {
  background-color: #22222216;
}
.postLinkLight:hover {
  background-color: #00000004;
}

.postThreadLink {
  font-size: 13px;
  color: gainsboro;
  font-weight: 400;
}
.postThreadLinkLight {
  color: #191919;
}

.postImgStandard {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: right;
}

.imgBodyContainer {
  display: block;
  width: 100%;
  margin-bottom: 9px;
}

.imgBody {
  overflow: auto;
  border: 1px solid #222222;
  border-radius: 20px;
  margin-top: 2px;
  padding: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}
.imgBody:hover {
  background-color: #22222239;
}
.imgBodyLight {
  border: 1px solid rgb(0, 0, 0, 0.1);
}
.imgBodyLight:hover {
  background-color: #00000008;
}

.blurOuter {
  width: 100px;
  overflow: hidden;
  float: left;
  border-radius: 10px;
}
.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.post {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.postRank {
  font-size: 13px;
  color: gray;
  width: 100%;
  margin-bottom: 5px;
  font-weight: 500;
}
.postRankLight {
  color: #191919;
}

.postTrend {
  font-size: 14px;
  margin-bottom: 5px;
}

.postTitle {
  color: gainsboro;
  font-size: 13.5px;
  width: calc(100% - 120px);
  margin-bottom: 5px;
}
.postTitleLight {
  color: #191919;
}

.postText {
  font-size: 13px;
  color: gainsboro;
  margin-bottom: 5px;
}
.postTextLight {
  color: #191919;
}

.postOutLink:link,
.postOutLink:visited {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  color: dodgerblue;
  position: relative;
  width: fit-content;
  margin-bottom: 5px;
}
.postOutLink:hover {
  text-decoration: underline;
}

.postAuthor {
  font-size: 13px;
  margin-bottom: 5px;
  color: gainsboro;
}
.postAuthorLight {
  color: #191919;
}

.postThreadLinkContainer {
  display: block;
  margin-bottom: 5px;
  height: 17.6px;
}

.postTrendWith {
  color: silver;
  font-weight: normal;
}
.postTrendWithLight {
  color: #191919;
}

.postTrendWithLoc {
  width: 100%;
  font-size: 13px;
  color: gainsboro;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: 500;
}
.postTrendWithLocLight {
  color: #191919;
}

.postStats {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}
.postStatsLight {
  color: #191919;
}

.trendStats {
  font-size: 13px;
  color: gray;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  max-width: 90%;
}
.trendStatsLight {
  color: #191919;
}

.timeButton {
  border: none;
  background: none;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  color: silver;
  border-radius: 0px;
  width: calc(100% / 4);
}
.timeButtonLight {
  color: #191919;
}
.timeButton:hover {
  color: dodgerblue;
}

.sortButton {
  border: none;
  background: none;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 0px 0px;
  text-decoration: none;
  font-size: 12px;
  color: silver;
  border-radius: 10px;
  border: 1px solid #222222;
}

.sortButton2 {
  border: none;
  background: none;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: silver;
  border-radius: 10px;
  margin-right: 10px;
}
.sortButton2Light {
  color: #191919;
}
.sortButton2:hover {
  color: dodgerblue;
}

.nextButton {
  background: transparent;
  text-decoration: none;
  color: silver;
  border: 1px solid #222222;
  border-radius: 10px;
  font-size: 11px;
  width: calc(100% / 3);
  max-width: 120px;
  height: 20px;
  text-align: center;
  padding: 10px 4px 4px 4px;
  user-select: none;
}
.nextButtonLight {
  color: #191919;
  border: 1px solid rgb(0, 0, 0, 0.1);
}
.nextButton:hover {
  border: 1px solid dodgerblue;
}

.galleryNumber {
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #222222;
  border-radius: 10px;
  padding: 10px 4px 4px 4px;
  font-size: 11px;
  width: 60px;
  text-align: center;
  color: silver;
}
.galleryNumberLight {
  color: #191919;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.limitText1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.limitText3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.limitText4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

div::-webkit-scrollbar {
  height: 0px;
}

div::-webkit-scrollbar-thumb {
  background-color: transparent;
}
